.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;

}
.sedans, .suvs, .luxury{
    width: 250px;
    height: 430px;
}
.sedans{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: hsl(31, 77%, 52%);
}
img{
    margin-top: 40px;
    margin-left: 30px;
}
h1{
    margin-left: 30px;
    margin-top: 25px;
    font-family: Big Shoulders, sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: hsl(0, 0%, 95%);
}
p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    font-family: Lexend Deca, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: hsl(179, 100%, 13%);
}
.button{
    margin-left: 30px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: hsl(0, 0%, 95%);
    font-family: Lexend Deca, sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: width 2s, height 2s, ease-out 2s;
    transition-timing-function: ease-out;
}
.sedans .button{
    color: hsl(31, 77%, 52%);
    margin-top: 70px;
}
.suvs .button{
    color: hsl(184, 100%, 22%);
    margin-top: 88px;
}
.luxury .button{
    color: hsl(179, 100%, 13%);
    margin-top: 70px;
}
.button:hover{
    cursor: pointer;
    width: 160px;
    height: 50px;
    font-size: 18px;
    border-radius: 50px;
}
.sedans .button:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}
.luxury .button:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}
.suvs .button:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}
@media screen and (max-width: 450px){
    .sedans, .suvs, .luxury{
        border-radius: 10px;
    }
    
}